.nav__list{
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 5px -3px rgb(#000000, 0.3);
  @media (min-width: $screen_medium) {
    display: flex;
    background-color: transarent;
    box-shadow: none;
  }
}
.nav__item{
  text-align: center;
  padding: 5px 0;
  &:hover .nav__link {
    text-decoration: underline;
  }
  &:hover .nav__link--active {
    text-decoration: none;
  }
  @media (min-width: $screen_medium) {
    padding: 0;
  }
}
.nav__item + .nav__item {
  @media (min-width: $screen_medium) {
    margin-left: 8px;
  }
  @media (min-width: $screen_max) {
    margin-left: 21px;
  }
}
.nav__link{
  color: #000;
  text-decoration: none;
  font-family: $secondary_font;
  font-size: 20px;
  font-weight: 400;
  &--active{
    font-weight: 700;
  }
}
