.pagination{
  display: flex;
  justify-content: space-between;
  font-family: $secondary_font;
  font-weight: 400;
  &--without-prev {
    justify-content: flex-end;
  }
  @media (min-width: $screen_medium) {
    font-size: 12px;
    line-height: 15px;
  }
  @media (min-width: $screen_max) {
    font-size: 20px;
    line-height: 25px;
  }
}
.paginamtion__prev, .pagination__next{
  @media (min-width: $screen_medium) {
    display: flex;
    align-items: center;
    width: 50%;
  }
}
.paginamtion__prev {
  @media (min-width: $screen_medium) {
    justify-content: flex-start;
  }
}
.pagination__next {
  @media (min-width: $screen_medium) {
    margin-left: 25px;
    justify-content: flex-end;
  }
  @media (min-width: $screen_max) {
    margin-left: 40px;
  }
}
.pagintation__arrow{
  background-color: #000000;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $screen_medium) {
    &--prev {
      margin-right: 8px;
    }
    &--next {
      margin-left: 8px;
    }
  }
  @media (min-width: $screen_max) {
    min-width: 150px;
    min-height: 150px;
    &--prev {
      margin-right: 34px;
    }
    &--next {
      margin-left: 29px;
    }
  }
}
.pagination__arrow-icon{
  width: 22.5px;
  height: 27.5px;
  fill: none;
  &--big{
    display: none;
  }
  &--next{
    transform: rotateY(180deg);
  }
  @media (min-width: $screen_max) {
    min-width: 67.2px;
    min-height: 82.8px;
    &--small{
      display: none;
    }
    &--big{
      display: block;
    }
  }
}
.pagination__label{
  display: none;
  @media (min-width: $screen_medium) {
    display: block;
  }
}
.pagination__article-title{
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}
