.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 320px;
  padding: 31px 25px 0;
  margin-bottom: 43px;
  @media (min-width: $screen_max) {
    justify-content: flex-start;
    max-width: 1366px;
    margin: 0 auto 43px;
  }
}
.header__burger{
  @media (min-width: $screen_medium) {
    display: none;
  }
}
.header__nav{
  position: absolute;
  left: 0;
  top: 88px;
  width: 100%;
  display: none;
  @media (min-width: $screen_medium) {
    display: block;
    position: relative;
    top: unset;
    left: unset;
    width: unset;
  }
  @media (min-width: $screen_max) {
    margin-left: 51px;
  }
}
.header__nav--active{
  display: block;
  z-index: 10;
}
