.article{
  margin: 0 auto;
  @media (min-width: $screen_medium) {
    display: grid;
    grid-template-columns: calc(100% - 430px) 430px;
    grid-column-gap: 22.5px;
    max-width: 856px;
  }
  @media (min-width: $screen_max) {
    grid-column-gap: 55px;
  }
}
.article + .article {
  margin-top: 25px;
  @media (min-width: $screen_max) {
    margin-top: 50px;
  }
}
.article--featured {
  padding: 0 25px;
  position: relative;
  margin: 0px auto 50px;
  @media (min-width: $screen_medium) {
    display: block;
    margin: 0px auto 55px;
    max-width: unset;
  }
  @media (min-width: $screen_max) {
    max-width: $content_max;
    margin: 0 auto 50px;
  }
}
.article--banner{
  @extend .article--featured;
  margin: 25px auto;
  @media (min-width: $screen_medium) {
    display: block;
    margin: 80px auto 25px;
    max-width: unset;
  }
  @media (min-width: $screen_max) {
    max-width: $content_max;
    margin: 62px auto 25px;
  }
}
.article__img{
  @media (min-width: $screen_medium) {
    object-fit: cover;
    height: 100%;
  }
}
.article--featured .article__img{
  display: none;
  @media (min-width: $screen_medium) {
    object-fit: unset;
    height: unset;
    display: block;
  }
}
.article--featured .article__content{
  @media (min-width: $screen_medium) {
    position: absolute;
    background-color: #FFFFFF;
    width: 509px;
    padding: 22px;
    top: 0;
    left: 70px;
  }
  @media (min-width: $screen_max) {
    padding: 76px 40px 96px 39px;
  }
}
.article--banner .article__content{
  @media (min-width: $screen_max) {
    top: 54px;
    left: unset;
    right: 103px;
  }
}
.article__tag{
  @include tagFontParams;
  padding: 0;
  margin: 0 0 8px;
}
.article__title{
  @include smallTitleFontParams;
  padding: 0;
  margin: 0 0 8px;
}
.article__meta{
  @include metaFontParams;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 8px;
}
.article__divider{
  width: 3px;
  height: 3px;
  background-color: rgba(#1C1C1C, 0.5);
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
}
.article__text{
  @include textFontParams;
  padding: 0;
  margin: 0;
}
