.board {
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 44px);
  grid-auto-rows: 44px;
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  justify-content: center;
  width: 280px;
}

.board__cell {
  background-color: #EDEDED;
  border-radius: 8px;
}

@media (min-width: 767px) {
  .board {
    grid-template-columns: repeat(5, 84px);
    grid-auto-rows: 84px;
    grid-gap: 15px;
    padding: 15px;
    border-radius: 16px;
    width: 510px;
  }

  .board__cell {
    border-radius: 10px;
  }
}
