.container {
  margin: 0 auto;
  min-width: $screen_min;
  padding: 0 25px;
  @media (min-width: $screen_max) {
    max-width: $content_max;
  }
}
.container--blog{
  padding: 0 25px 25px;
}
.container--about{
  padding: 0 25px 25px;
  @media (min-width: $screen_max) {
    margin-top: 182px;
  }
}
